<!DOCTYPE html>
<html layout:decorate="~{../static/index}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="comments" type="java.util.List<com.breuninger.arch.playground.comment.domain.Comment>"*/-->
<!--/*@thymesVar id="cardId" type="java.util.String"*/-->
<head>
  <title>Comments for ${cardId}</title>
</head>
<body>
<th:block layout:fragment="content">
  <p th:each="comment : ${comments}" th:text="${comment.text}"></p>
</th:block>
</body>
</html>
